/*
 * Article Card molecule
 *
 */

.article-card {
    font-family: $muli;
    background: $light-gray;

    &__featured {
        height: 10em;
        background-image: none;
        background-color: $light-indigo;
        background-size: cover;
        background-position: center;
    }

    &__body {
        padding: 1.5em; 
    }

    &__date {
        @include type-setting(-1);
        line-height: 1;
        display: block;
        color: $indigo;
        font-weight: 200;
        margin: { bottom: .75em; }
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        color: $darker-gray;
        margin: { bottom: .25em; }
    }

    &__excerpt {
        @include type-setting(0);
        color: $dark-gray;
        font-weight: 200;
    }
}