/*
 * Article Card molecule
 *
 */

.article-card {
    font-family: $muli;
    padding: 1.5em; 
    background: $light-gray;

    &__featured {
        height: 10em;
        background-size: cover;
        background-position: center;
        margin: -1.5em -1.5em 1.25em;
    }

    &__date {
        @include type-setting(-1);
        display: block;
        color: $indigo;
        font-weight: 200;
        margin: { bottom: .666em; }
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        color: $darker-gray;
        font-weight: 500;
        margin: { bottom: .25em; }
    }

    &__excerpt {
        @include type-setting(0);
        color: $dark-gray;
        font-weight: 200;
    }
}