/*
 * Article Card molecule
 *
 */

.article-card {
    font-family: $muli;
    background: $lighter-gray;

    &__featured {
        height: 10em;
        background-image: none;
        background-color: $light-indigo;
        background-size: cover;
        background-position: center;
    }

    &__body {
        padding: 1.5em; 
    }

    &__title {
        color: $dark-gray;
        margin: { bottom: .25em; }
    }

    &__excerpt {
        @include type-setting(0);
        color: $gray;
        font-weight: 200;
    }
}