/*
 * Card molecule
 *
 */

.card {
    font-family: $muli;
    background: $lighter-gray;
    transition: background .3s ease;
    
    &__featured {
        width: 33.333%;
        background-image: none;
        background-color: $light-indigo;
        background-size: cover;
        background-position: center;
        transition: filter .3s ease;
    }
 
    &__body {
        width: 66.666%;
        padding: 2em;
    }

    &__title {
        @include type-setting(1);
        color: $dark-gray;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }

    &__excerpt {
        color: $gray; 
        margin: { top: .325em; }
    }
}