/*
 * Card molecule
 *
 */

.card {
    font-family: $muli;
    background: $lighter-gray;
    transition: background .3s ease;
    
    &:hover &,
    &:active &,
    &:focus & {
        &__title {
            text-decoration: underline;
        }
    }

    &__featured {
        height: 10em;
        background-image: none;
        background-color: $light-indigo;
        background-size: cover;
        background-position: center;
        transition: filter .3s ease;
    }

    &__body {
        padding: 1.5em 1.25em 2em;
    }

    &__title {
        margin: { bottom: .25em; }
    }

    &__excerpt {
        color: $gray;
    }

    @media screen and (min-width: $tablet-width) {
        &__featured {
            height: 12.5em;
        }        
    }
}