/* 
 * Colours
 *
 */

$white:#FFF;
$black:#000;

$lighter-gray: #E6E6E6;
$light-gray: #BFBFBF;
$gray: #595B65;
$dark-gray: #30323B;

$lighter-indigo: #E8EAF6;
$light-indigo: #B6B8C3;
$indigo: #868893;

$blue: #64B5F6;
 
