/* 
 * Links atom
 *
 */

.link {
    color: $blue;
    text-decoration: underline;
    transition: color .3s ease;
    word-wrap: break-word;

    &:hover,
    &:active,
    &:focus {
        color: darken($blue, 15%);
    }
} 