/* 
 * Overlay
 *
 */ 

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: $darker-gray;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .3s ease;

    &--active {
        opacity: .3;
        transform: translateX(0);
    }
}