/*
 * Paragraph atom
 *
 */

.p {
    @include type-setting(0);
    font-family: $muli;
    font-weight: 300;
    color: $dark-gray;
    display: block;
    max-width: 65ch; 
    margin: { bottom: 1em; } 
} 