/*
 * Unordered Lists atom
 *
 */

.ul {
    @include type-setting(0);
    font-family: $muli;
    color: $dark-gray;
    list-style: disc;
    margin: { 
        top: .25em; 
        left: 1.75em; 
        bottom: 1em; 
    }
}