    <script type="text/javascript" src="{{ site.url }}/build/js/scripts.js" async></script>
    
    <footer class="footer">
        <ul class="footer__icon-list">
            <li class="footer__icon-list-item">
                <a href="https://github.com/AdamMcquiff" class="footer__icon footer__icon--github" aria-label="GitHub"></a>
            </li>
            <li class="footer__icon-list-item">
                <a href="https://www.linkedin.com/in/adam-mckenna/" class="footer__icon footer__icon--linkedin" aria-label="LinkedIn"></a>
            </li>
            <li class="footer__icon-list-item">
                <a href="https://twitter.com/AdamMcQuiff" class="footer__icon footer__icon--twitter" aria-label="Twitter"></a>
            </li>
        </ul>
    </footer>
</body>
</html>
