    <footer class="footer">
        <ul class="footer__icon-list">
            <li class="footer__icon-list-item">
                <a href="https://github.com/AdamMcquiff" class="footer__icon footer__icon--github" aria-title="GitHub"></a>
            </li>
            <li class="footer__icon-list-item">
                <a href="https://www.linkedin.com/in/adam-mckenna/" class="footer__icon footer__icon--linkedin" aria-title="LinkedIn"></a>
            </li>
            <li class="footer__icon-list-item">
                <a href="https://twitter.com/AdamMcQuiff" class="footer__icon footer__icon--twitter" aria-title="Twitter"></a>
            </li>
        </ul>
    </footer>
</body>
</html>
