<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
        ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
        ;c.parentNode.insertBefore(a,c)
        })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
        
        galite('create', 'UA-120213305-1', 'auto');
        galite('send', 'pageview');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> 

    {% capture title %}
        {{ page.title }} | {{ site.title }}
    {% endcapture %} 

    <title>{{ title | default: site.title | strip }}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="preload" href="{{ site.url }}/build/css/style.css" as="style" onload="this.onload=null; this.rel='stylesheet'">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600" as="style" onload="this.onload=null; this.rel='stylesheet'">

    <meta id="loadCSS"> 

    <link href="inline.css">

    <noscript>
        <link rel="stylesheet" href="{{ site.url }}/build/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600">
    </noscript> 

    <link rel="stylesheet" media="print" href="{{ site.url }}/build/css/print.css">

    <link rel="preload" href="{{ site.url }}/build/js/app.js" as="script">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/build/img/favicons/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/build/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/build/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/build/img/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="{{ site.url }}/build/img/favicons/safari-pinned-tab.svg" color="#67686d">
    <link rel="manifest" href="{{ site.url }}/site.webmanifest">
    <meta name="msapplication-TileColor" content="#67686D">
    <meta name="theme-color" content="#868893">
</head>

<body class="preload">
    {% register_service_worker %}

    <header class="header">
        <a href="{{ site.url }}">
            <h1 class="logo"> 
                <span class="logo__title">
                    Adam McKenna
                </span>
                <span class="logo__subtitle">
                    Full Stack Developer
                </span>
            </h1>
        </a>

        <button class="button nav__toggle nav__open-button"
                aria-label="Open navigation"
                tabindex="0">
        </button>

        <nav class="nav" id="nav" aria-expanded="true">
            <button class="button nav__toggle nav__close-button" 
                    aria-label="Close navigation"
                    tabindex="-1">
            </button>

            <ul>
                <li class="nav__item">
                    <a href="{{ site.url }}"
                       aria-hidden="true" 
                       class="nav__link"
                       tabindex="-1">
                        Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ site.url }}/articles"
                       class="nav__link"
                       tabindex="-1">
                        Articles
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ site.url }}/about"
                       class="nav__link"
                       tabindex="-1">
                        About
                    </a>
                </li>
            </ul>
        </nav>

        <div class="overlay" id="nav-overlay"></div>
    </header>