<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ site.title }}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/build/css/style.css">

    <script type="text/javascript" src="{{ site.url }}/build/js/scripts.js"></script>
</head>

<body>
    <header class="header">
        <a href="{{ site.url }}">
            <h1 class="logo"> 
                <span class="logo__title">
                    Adam McKenna
                </span>
                <span class="logo__subtitle">
                    Full Stack Developer
                </span>
            </h1>
        </a>

        <nav class="nav" id="nav" aria-expanded="false">
            <button class="button nav__toggle nav__close-button" aria-label="Close navigation"></button>

            <ul>
                <li class="nav__item">
                    <a href="{{ site.url }}" class="nav__link">
                        Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ site.url }}/articles" class="nav__link">
                        Articles
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ site.url }}/about" class="nav__link">
                        About
                    </a>
                </li>
            </ul>
        </nav>

        <div class="overlay" id="nav-overlay"></div>

        <button class="button nav__toggle nav__open-button" aria-label="Open navigation"></button>
    </header>