/*
 * Base
 *
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding: { bottom: 4.2em }; // Compensate for absolute positioned footer
}

img {
    max-width: 100%;
}