/*
 * Base
 *
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding: { bottom: 4.2em }; // Compensate for absolute positioned footer

    @media screen and (min-width: $tablet-width) {
        padding: { bottom: 5.2em; }
    }
}

img {
    max-width: 100%;
}

.preload * {
    transition: none !important;
}