.header {
    @include clearfix;
    background-color: $dark-red;
    .container {
        @include container(1024px);
        padding: 1.25em;
    }

    .branding {
        @include span(6 of 12);

        .logo {
            width: 2em;
            height: 2em;
            border-radius: 2em;
            background: $white;
        }
    }

    .burger {
        @include span(6 of 12);
        @include last;
        text-align: right;

        .icon {
            width: 2em;
            height: 2em;
            border-radius: 2em;
            background: $white;
        }
    }

    .nav {
        display: none;
    }
}