/*
 * Home template
 *
 */

.articles-grid {
    &__card {
        margin: { bottom: 1em; }
    }

    &__button {
        background-color: $light-indigo;
        text-align: center;
        height: auto;
        width: 100%;
        color: $white;
        text-transform: uppercase;
        font-weight: 200;
    }

    @media screen and (min-width: $mobile-width) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__card {
            width: calc(33.333% - .66em);
            
            &:first-of-type {
                width: calc(66.666% - .33em);
            }
        }
    }
} 