/*
 * Articles organism
 *
 */

.articles {
    @supports (display: grid) {
        display: grid;
        grid-gap: 1em;
        grid-auto-rows: 1fr;
        margin: { bottom: 1em; }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        @supports not (display: grid) { 
            margin: { bottom: 1em; }
        }
    }

    &__button { 
        background-color: $light-indigo;
        text-align: center;
        height: auto;
        width: 100%;
        color: $white;
        text-transform: uppercase;
        font-weight: 200;
        transition: background-color .3s ease;

        &:hover,
        &:active,
        &:focus {
            background-color: $indigo;       
        }
    }
} 