/* 
 * Footer organism 
 *
 */

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $indigo;
    padding: 1em 0;

    &__icon-list {
        text-align: center;
    }

    &__icon-list-item {
        display: inline-block;
        margin: 0 .21875em;
    }

    &__icon {
        width: 2em;
        height: 2em;
        display: block;
        will-change: filter;
        transition: filter .3s ease;

        &--github {
            background-image: url('../img/icons/github.svg');
        }

        &--linkedin {
            background-image: url('../img/icons/linkedin.svg');
        }

        &--twitter {
            background-image: url('../img/icons/twitter.svg');
        }

        &:hover,
        &:active,
        &:focus {
            filter: brightness(115%);
        }
    }

    @media screen and (min-width: $tablet-width) {
        padding: 1.5em 0;
    }
}