/*
 * Header Organism
 *
 */ 

.header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $indigo; 
    padding: 1.5em;

    @media screen and (min-width: $mobile-width) {
        padding: 2em;
    }   
}

 