/*
 * Post organism
 *
 */

.post {
    &__featured {
        margin: -1.5em -1.5em 1em -1.5em;
        background-size: cover;
        background-position: 50%;

        &__caption {
            padding: .5em 2em 0;
        }
    }

    &__title {
        @include type-setting(1);
        display: inline-block;
        margin: { top: .25em; bottom: .5em; }
    }

    &__date {
        font-size: .85em;
        margin: { bottom: 1.5em; }
    }
    
    p {
        @extend .p;
    }

    a {
        @extend .link;
    }

    strong,
    b {
        font-weight: 600;
    }

    &__body {
        h2 {
            @extend .h2;
        }
    
        h3 {
            @extend .h3;
        }
    
        h2, h3 {
            @include type-setting(1);
            display: inline-block;
            width: 100%;
            margin: { top: .5em; bottom: .5em; }
        }
    
        ul {
            @extend .ul;
        }
    
        blockquote {
            @extend .blockquote;
        }
    
        pre,
        code {
            @extend .pre;
        }
    
        pre {
            padding: .75em 1em 1em;
            margin-bottom: 1em;
            overflow: scroll;
        }
    
        pre code {
            padding: 0;
        }
    
        pre code .p {
            display: inline;
        }
    
        figure {
            margin: { bottom: 1em; }

            figcaption {
                @extend .p;
                font-size: .85em;
                line-height: 1.75;
                margin: { top: .5rem; }
                color: $gray;
                max-width: 100%;
                text-align: center;
            }
        }
    
        img {
            vertical-align: middle;
            margin: 0 -1.5em;
            width: -webkit-fill-available;
            max-width: calc(100% + 3em);
        }
    }
    
    @media screen and (min-width: $mobile-width) {
        max-width: $tablet-content;

        &__featured {
            margin: 0 0 1em;

            &__caption {
                padding: .5em 0 0;
            }
        }

        &__title {
            @include type-setting(2);
            margin: { top: .125em; bottom: .325em; }
        }

        &__body {
            h2 {
                font-size: 1.5em;
            }
    
            img {
                margin: 0;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}