/*
 * Post organism
 *
 */

.post {
    &__featured {
        height: 14em;
        margin: -1.5em -1.5em 1em -1.5em;
        background-size: cover;
        background-position: 50%;
    }

    &__title {
        @include type-setting(1);
        display: inline-block;
        margin: { top: .25em; bottom: .5em; }
    }

    &__date {
        font-size: .85em;
        margin: { bottom: 1.5em; }
    }

    a {
        @extend .link;
    }

    p {
        @extend .p;
    }

    h2 {
        @extend .h2;
        @include type-setting(1);
        display: inline-block;
        margin: { top: .5em; bottom: .5em; }
    }

    h3 {
        @extend .h3;
        @include type-setting(1);
        display: inline-block;
        margin: { top: .5em; bottom: .5em; }
    }

    ul {
        @extend .ul;
    }

    pre,
    code {
        @extend .pre;
    }

    pre {
        padding: .75em 1em 1em;
    }

    pre code {
        padding: 0;
    }

    pre code .p {
        display: inline;
    }

    figure {
        margin: { bottom: 1em; }
    }

    img {
        vertical-align: middle;
        margin: 0 -1.5em;
        max-width: -webkit-fill-available;
    }
    
    @media screen and (min-width: $mobile-width) {
        max-width: $tablet-content;

        &__featured {
            margin: 0 0 1em;
            height: 20em;
        }

        &__title {
            @include type-setting(2);
            margin: { top: .125em; bottom: .325em; }
        }

        img {
            margin: 0;
            object-fit: cover;
            width: 100%;
        }
    }
}