{% include header.html %}

    <main class="main">
        
        <h1 class="h1 main__heading">
            About
        </h1>

        <hr class="hr">

        <div>
            <p class="p">
                I’m Adam McKenna, a full stack developer …  Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Nulla ut congue tortor, a imperdiet nunc. Quisque vehicula tortor sed dictum 
                dictum. Cras hendrerit rhoncus laoreet. Curabitur vitae nunc nec libero egestas tristique. Sed id 
                posuere lacus. Aliquam nunc lectus, bibendum vitae erat quis, condimentum vehicula lectus. 
                Nullam placerat risus ante, id cursus massa rhoncus vitae. Vestibulum sit amet sapien et lorem 
                scelerisque lobortis vitae consectetur erat. Sed rhoncus ornare nulla, vel vehicula velit ultrices 
                quis. Vestibulum ornare efficitur velit at suscipit.
            </p>

            <p class="p">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vitae dapibus eros. 
                Nullam pharetra varius tristique. Vivamus et sagittis libero. Curabitur eleifend, est non eleifend 
                interdum, purus est euismod arcu, a luctus neque felis eu ante. Aliquam erat volutpat. Nullam 
                facilisis gravida urna non elementum. Curabitur laoreet neque sed lobortis interdum. Lorem 
                ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi justo, malesuada quis aliquam eu, 
                lobortis non tellus.
            </p>
        </div>
    
    </main>

{% include footer.html %}
