{% include build/header.html %}

    <main class="main main--large">
        
        <h1 class="h1 main__heading">
            Recent Articles
        </h1>

        <hr class="hr">

        <div class="articles">

            {% for post in site.posts limit: 5  %}

                <article class="card articles__card">
                    
                    <div class="card__featured" 
                            {% if post.featured-img %} 
                            style="background-image: url('{{ site.url }}/{{ post.featured-img }}');" 
                            {% endif %}>
                    </div>
        
                    <div class="card__body">

                        <span class="subtext">
                            {{ post.date | date: "%B %-dth, %Y" }}
                        </span>

                        <a href="{{ post.url }}">
                            <h2 class="h2 card__title">
                                {{ post.title }}
                            </h2>
                        </a>

                        <div class="card__excerpt p">
                            {{ post.description | strip_html | truncatewords: 26 }}
                        </div>

                    </div>

                </article>
            
            {% endfor %}

        </div>
    
        <div>
            <a href="{{ site.url }}/articles" 
               aria-label="View all articles"
               class="button articles__button">
                View more
            </a>
        </div>
    </main>

{% include footer.html %}
