{% include build/header.html %}

    <main class="main home">
        
        <h1 class="h1 main__heading">
            Recent Articles
        </h1>

        <hr class="hr">

        <div class="articles-grid">

            {% for post in site.posts limit: 5  %}

                <article class="article-card articles-grid__card">

                    <a href="{{ post.url }}" aria-label="{{ post.title }}">
                    
                        <div class="article-card__featured" 
                             {% if post.featured-img %} 
                                style="background-image: url('{{ site.url }}/{{ post.featured-img }}');" 
                             {% endif %}>
                        </div>
            
                        <div class="article-card__body">

                            <span class="subtext">
                                {{ post.date | date: "%B %-dth %Y" }}
                            </span>
                            
                            <h2 class="h2 article-card__title">
                                {{ post.title }}
                            </h2>
    
                            <div class="article-card__excerpt p p--light">
                                {% if forloop.index0 == 0 %}
                                    {{ post.excerpt | strip_html | truncatewords:20 }}
                                {% else %}
                                    {{ post.excerpt | strip_html | truncatewords:12 }}
                                {% endif %}
                            </div>

                        </div>

                    </a>

                </article>
            
            {% endfor %}

        </div>
    
        <div>
            <a href="{{ site.url }}/articles" 
               aria-label="View all articles"
               class="button articles-grid__button">
                View more
            </a>
        </div>
    </main>

{% include footer.html %}
