{% include build/header.html %}
   
    <main class="main post">      
        
        {% if page.featured-img %}        

            <figure class="post__featured">
                <img class="post__featured__img" 
                     src="{{ site.url }}/{{ page.featured-img }}" 
                     alt="Trulli">

                {% if page.featured-img-caption %}    

                    <figcaption class="post__featured__caption subtext">
                        {{ page.featured-img-caption }}
                    </figcaption>

                {% endif %}
            </figure>

        {% endif %}

        <section class="post__body">

            <h1 class="h1 post__title">{{ page.title }}</h1>

            <span class="subtext post__date">
                {{ page.date | date: "%B %-dth %Y" }}
            </span>
    
            <hr class="hr">
    
            {{ content }}
            
        </section>

    </main>

{% include footer.html %}